* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    padding-top: 5rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120vh;
}

// Navbar styles
.navbar {
    padding: 1rem 1rem 0rem 1rem;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: calc(100vw - 2rem);

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid black;
        padding: 1rem;

        .logo {
            font-weight: bold;
            font-size: 1.5rem;

            a {
                color: black;
                text-decoration: none;
            }
        }

        .items {
            display: flex;
            gap: 1rem;

            a {
                color: black;
                text-decoration: none;

                &:hover {
                    text-decoration: underline double;
                }
            }
        }
    }
}

// main blog styles
.container {
    display: flex;
    justify-content: center;

    .blog {
        width: 100%;
        max-width: 600px;
        margin-top: 2rem;
        padding: 1rem;

        // home page style
        .posts {
            margin-top: 2rem;

            .post_item {
                margin-bottom: 1.5rem;

                .title {
                    font-size: 2rem;
                    text-decoration: none;
                    color: black;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .date {
                    margin-top: 0.5rem;
                    opacity: 0.6;
                }
            }
        }

        // blog page styles
        h1.title {
            font-size: 3rem;
        }

        p.date {
            margin-top: 0.5rem;
            opacity: 0.6;
        }

        .content {
            margin-top: 2rem;

            * {
                line-height: 150%;
                font-size: 1.1rem;
            }

            details {
                margin-bottom: 1rem;

                summary {
                    cursor: pointer;

                    &:hover {
                        text-decoration: double underline;
                    }
                }

                ol {
                    margin: 0.5rem 0 0 2rem;

                    li {
                        margin-bottom: 0.2rem;
                    }
                }
            }

            .blog_content {
                display: flex;
                flex-direction: column;
                // gap: 1rem;
            }

            // Styles for elements
            a {
                color: #180ea4;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                &[target="_blank"] {
                    cursor: alias;
                }
            }

            p {
                margin-bottom: 1rem;
            }

            h2 {
                font-size: 1.5rem;
            }

            h1 {
                font-size: 2rem;
            }

            img {
                width: 100%;
            }

            img:has(+ p),
            img:has(+ h1),
            img:has(+ h2),
            img:has(+ h3) {
                margin-bottom: 1rem;
            }

            ul,
            ol {
                padding-left: 1.1rem;

                li {
                    margin-bottom: 0.5rem;
                }
            }

            em {
                text-decoration: underline;
            }

            abbr {
                cursor: context-menu;
            }

            span.faded {
                opacity: 0.7;
            }

            table {
                border: 2px solid black;
                border-collapse: collapse;
                margin-bottom: 1rem;

                * {
                    font-size: 1rem;
                }

                th {
                    text-align: left;
                    font-weight: bold;
                    padding: 0.5rem;
                    border-bottom: 1px solid black;
                    background: #f5f5f5;
                }

                td {
                    padding: 0.5rem;
                }

                tr {
                    &:hover {
                        background: #f5f5f5;
                    }
                }

                tr.emphasize {
                    background: #abf5c1;

                    td {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.footer {
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 5rem;
    border-top: 2px solid black;

    .logo {
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;

        a {
            color: black;
            text-decoration: none;

            &:hover {
                text-decoration: underline double;
            }
        }
    }
}

// mobile styes
@media screen and (max-width: 800px) {
    .navbar {
        nav {
            .items {
                display: none;
            }
        }
    }

    .footer {
        flex-direction: column;
        gap: 2rem;

        .links {
            align-items: flex-start;
        }
    }
}