* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  padding-top: 5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120vh;
}

.navbar {
  padding: 1rem 1rem 0rem 1rem;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: calc(100vw - 2rem);
}
.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 1rem;
}
.navbar nav .logo {
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar nav .logo a {
  color: black;
  text-decoration: none;
}
.navbar nav .items {
  display: flex;
  gap: 1rem;
}
.navbar nav .items a {
  color: black;
  text-decoration: none;
}
.navbar nav .items a:hover {
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
}

.container {
  display: flex;
  justify-content: center;
}
.container .blog {
  width: 100%;
  max-width: 600px;
  margin-top: 2rem;
  padding: 1rem;
}
.container .blog .posts {
  margin-top: 2rem;
}
.container .blog .posts .post_item {
  margin-bottom: 1.5rem;
}
.container .blog .posts .post_item .title {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
.container .blog .posts .post_item .title:hover {
  text-decoration: underline;
}
.container .blog .posts .post_item .date {
  margin-top: 0.5rem;
  opacity: 0.6;
}
.container .blog h1.title {
  font-size: 3rem;
}
.container .blog p.date {
  margin-top: 0.5rem;
  opacity: 0.6;
}
.container .blog .content {
  margin-top: 2rem;
}
.container .blog .content * {
  line-height: 150%;
  font-size: 1.1rem;
}
.container .blog .content details {
  margin-bottom: 1rem;
}
.container .blog .content details summary {
  cursor: pointer;
}
.container .blog .content details summary:hover {
  -webkit-text-decoration: double underline;
          text-decoration: double underline;
}
.container .blog .content details ol {
  margin: 0.5rem 0 0 2rem;
}
.container .blog .content details ol li {
  margin-bottom: 0.2rem;
}
.container .blog .content .blog_content {
  display: flex;
  flex-direction: column;
}
.container .blog .content a {
  color: #180ea4;
  text-decoration: none;
}
.container .blog .content a:hover {
  text-decoration: underline;
}
.container .blog .content a[target=_blank] {
  cursor: alias;
}
.container .blog .content p {
  margin-bottom: 1rem;
}
.container .blog .content h2 {
  font-size: 1.5rem;
}
.container .blog .content h1 {
  font-size: 2rem;
}
.container .blog .content img {
  width: 100%;
}
.container .blog .content img:has(+ p),
.container .blog .content img:has(+ h1),
.container .blog .content img:has(+ h2),
.container .blog .content img:has(+ h3) {
  margin-bottom: 1rem;
}
.container .blog .content ul,
.container .blog .content ol {
  padding-left: 1.1rem;
}
.container .blog .content ul li,
.container .blog .content ol li {
  margin-bottom: 0.5rem;
}
.container .blog .content em {
  text-decoration: underline;
}
.container .blog .content abbr {
  cursor: context-menu;
}
.container .blog .content span.faded {
  opacity: 0.7;
}
.container .blog .content table {
  border: 2px solid black;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
.container .blog .content table * {
  font-size: 1rem;
}
.container .blog .content table th {
  text-align: left;
  font-weight: bold;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  background: #f5f5f5;
}
.container .blog .content table td {
  padding: 0.5rem;
}
.container .blog .content table tr:hover {
  background: #f5f5f5;
}
.container .blog .content table tr.emphasize {
  background: #abf5c1;
}
.container .blog .content table tr.emphasize td {
  font-weight: bold;
}

.footer {
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 5rem;
  border-top: 2px solid black;
}
.footer .logo {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
.footer .links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
.footer .links a {
  color: black;
  text-decoration: none;
}
.footer .links a:hover {
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
}

@media screen and (max-width: 800px) {
  .navbar nav .items {
    display: none;
  }
  .footer {
    flex-direction: column;
    gap: 2rem;
  }
  .footer .links {
    align-items: flex-start;
  }
}/*# sourceMappingURL=main.css.map */