@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  padding-top: 5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120vh;
}

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
}
.navbar nav .menu {
  align-items: center;
  justify-content: center;
  display: none;
}
.navbar nav .logo {
  display: flex;
  align-items: center;
  height: 42px;
  font-weight: bold;
  font-size: 36px;
}
.navbar nav .logo a {
  color: #f5f5f5;
  background-image: url("../images/logoBg.png/");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
.navbar nav .items {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar nav .items a {
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
.navbar nav .items a:hover {
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
}
.navbar nav .items .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}
.navbar .menuContent {
  display: none;
  padding: 2px 20px;
  padding-bottom: 16px;
}
.navbar .menuContent .items {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar .menuContent .items a {
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
.navbar .menuContent .items a:hover {
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
}
.navbar .menuContent .items .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}

.heroContainer {
  position: relative;
  width: 100%;
}
.heroContainer .heroBg {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.heroContainer .heroText {
  position: absolute;
  bottom: 25px;
  left: 41px;
}
.heroContainer .heroTextMob {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
}
.container .blog {
  width: 100%;
  max-width: 800px;
  margin-top: 1rem;
  padding: 1rem;
}
.container .blog .title {
  color: #1D1D1F;
  font-weight: 400;
  font-size: 2.2rem;
  margin-top: 2rem;
}
.container .blog .dateContainer {
  display: flex;
  margin-top: 2rem;
}
.container .blog .dateContainer .date {
  font-weight: 600;
  color: #6E6E73;
}
.container .blog .posts {
  margin-top: 2rem;
}
.container .blog .posts .divider {
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}
.container .blog .posts .post_item {
  margin-bottom: 1.5rem;
}
.container .blog .posts .post_item .title {
  font-size: 2.2rem;
  text-decoration: none;
  color: #2C2C2C;
  font-weight: 300;
}
.container .blog .posts .post_item .title:hover {
  text-decoration: underline;
}
.container .blog .posts .post_item .date {
  margin-top: 0.5rem;
  opacity: 0.5;
  font-weight: 400;
  font-size: 1.2rem;
}
.container .blog .content {
  margin-top: 2rem;
}
.container .blog .content * {
  line-height: 150%;
  font-size: 1.1rem;
}
.container .blog .content details {
  margin-bottom: 1rem;
}
.container .blog .content details summary {
  cursor: pointer;
}
.container .blog .content details summary:hover {
  -webkit-text-decoration: double underline;
          text-decoration: double underline;
}
.container .blog .content details ol {
  margin: 0.5rem 0 0 2rem;
}
.container .blog .content details ol li {
  margin-bottom: 0.2rem;
}
.container .blog .content .blog_content {
  display: flex;
  flex-direction: column;
}
.container .blog .content .blog_content h3 {
  font-weight: 600;
  color: #363636;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}
.container .blog .content a {
  color: #180ea4;
  text-decoration: none;
}
.container .blog .content a:hover {
  text-decoration: underline;
}
.container .blog .content a[target=_blank] {
  cursor: alias;
}
.container .blog .content p {
  margin-bottom: 1rem;
}
.container .blog .content h1 {
  font-size: 2rem;
}
.container .blog .content h2 {
  font-size: 1.5rem;
}
.container .blog .content img {
  width: 100%;
  margin-bottom: 1rem;
}
.container .blog .content ul,
.container .blog .content ol {
  padding-left: 1.1rem;
}
.container .blog .content ul li,
.container .blog .content ol li {
  margin-bottom: 0.5rem;
}
.container .blog .content em {
  text-decoration: underline;
}
.container .blog .content abbr {
  cursor: context-menu;
}
.container .blog .content span.faded {
  opacity: 0.7;
}
.container .blog .content table {
  border: 2px solid black;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
.container .blog .content table * {
  font-size: 1rem;
}
.container .blog .content table th {
  text-align: left;
  font-weight: bold;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  background: #f5f5f5;
}
.container .blog .content table td {
  padding: 0.5rem;
}
.container .blog .content table tr:hover {
  background: #f5f5f5;
}
.container .blog .content table tr.emphasize {
  background: #abf5c1;
}
.container .blog .content table tr.emphasize td {
  font-weight: bold;
}

.footer {
  background: #FEFFFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E0DBC7;
}
.footer .madeIn {
  display: none;
}
.footer .logo {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
.footer .links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
.footer .links a {
  color: black;
  text-decoration: none;
}
.footer .links a:hover {
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
}

@media screen and (max-width: 1350px) {
  .heroText {
    width: 30rem;
  }
}
@media screen and (max-width: 950px) {
  .heroText {
    bottom: 20px !important;
    left: 20px !important;
    width: 20rem;
  }
  .navbar nav {
    padding: 18px 20px;
  }
}
@media screen and (max-width: 620px) {
  .heroText {
    display: none;
  }
  nav a {
    font-size: 2rem;
  }
  .container .blog .posts .post_item .title {
    font-size: 1.6rem;
  }
  .container .blog .posts .post_item .date {
    font-size: 1.1rem;
  }
  .heroTextMob {
    display: flex !important;
    position: absolute;
    bottom: 15px;
    width: 12rem;
    left: 15px;
  }
  .navbar nav {
    padding: 18px 20px;
  }
}
@media screen and (max-width: 400px) {
  .heroTextMob {
    width: 8rem;
  }
  nav a {
    font-size: 1.4rem;
  }
  .container .blog .posts .post_item .title {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .container .blog .posts .post_item .date {
    font-size: 1rem;
  }
}
@media screen and (max-width: 850px) {
  .navbar nav .menu {
    display: flex;
    cursor: pointer;
  }
  .navbar nav .items {
    display: none;
  }
  .footer {
    padding: 20px;
    flex-direction: column;
    gap: 0.5rem;
  }
  .footer .flower {
    display: none;
  }
  .footer .madeIn {
    font-size: 14px;
    color: #959693;
    font-weight: 400;
    display: block;
  }
}
@media screen and (max-width: 340px) {
  .navbar nav {
    justify-content: end;
  }
  .navbar nav .logo {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */