* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    padding-top: 5rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120vh;
}

// Navbar styles
.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 40px;

        .menu{
            align-items: center;
            justify-content: center;
            display: none;
        }

        .logo {
            display: flex;
            align-items: center;
            height: 42px;
            font-weight: bold;
            font-size: 36px;

            a {
                color: #f5f5f5;
                background-image: url("../images/logoBg.png/");
                background-repeat: repeat;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-decoration: none;
                -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: black;
            }
        }

        .items {
            display: flex;
            gap: 10px;
            align-items: center;

            a {
                color: rgba(0, 0, 0, 0.75);
                font-size: 18px;
                font-weight: 400;
                text-decoration: none;

                &:hover {
                    text-decoration: underline double;
                }
            }

            .dot {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .menuContent{
        display: none;
        padding: 2px 20px;
        padding-bottom: 16px;

        .items {
            display: flex;
            gap: 10px;
            align-items: center;

            a {
                color: rgba(0, 0, 0, 0.75);
                font-size: 18px;
                font-weight: 400;
                text-decoration: none;

                &:hover {
                    text-decoration: underline double;
                }
            }

            .dot {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

// Hero section styles
.heroContainer {
    position: relative;
    width: 100%;

    .heroBg {
        width: 100%;
        object-fit: fill;
    }

    .heroText {
        position: absolute;
        bottom: 25px;
        left: 41px;
    }

    .heroTextMob{
        display: none;
    }
}

// Blog styles
.container {
    display: flex;
    justify-content: center;

    .blog {
        width: 100%;
        max-width: 800px;
        margin-top: 1rem;
        padding: 1rem;

        // Posts section
        .posts {
            margin-top: 2rem;

            .divider {
                height: 1px;
                width: 100%;
                background: rgba(0, 0, 0, 0.1);
                margin-bottom: 1.5rem;
            }

            .post_item {
                margin-bottom: 1.5rem;

                .title {
                    font-size: 2.2rem;
                    text-decoration: none;
                    color: #2C2C2C;
                    font-weight: 300;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .date {
                    margin-top: 0.5rem;
                    opacity: 0.5;
                    font-weight: 400;
                    font-size: 1.2rem;
                }
            }
        }

        // Blog content section
        .content {
            margin-top: 2rem;

            * {
                line-height: 150%;
                font-size: 1.1rem;
            }

            details {
                margin-bottom: 1rem;

                summary {
                    cursor: pointer;

                    &:hover {
                        text-decoration: double underline;
                    }
                }

                ol {
                    margin: 0.5rem 0 0 2rem;

                    li {
                        margin-bottom: 0.2rem;
                    }
                }
            }

            .blog_content {
                display: flex;
                flex-direction: column;
            }

            a {
                color: #180ea4;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                &[target="_blank"] {
                    cursor: alias;
                }
            }

            p {
                margin-bottom: 1rem;
            }

            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1.5rem;
            }

            img {
                width: 100%;
                margin-bottom: 1rem;
            }

            ul,
            ol {
                padding-left: 1.1rem;

                li {
                    margin-bottom: 0.5rem;
                }
            }

            em {
                text-decoration: underline;
            }

            abbr {
                cursor: context-menu;
            }

            span.faded {
                opacity: 0.7;
            }

            table {
                border: 2px solid black;
                border-collapse: collapse;
                margin-bottom: 1rem;

                * {
                    font-size: 1rem;
                }

                th {
                    text-align: left;
                    font-weight: bold;
                    padding: 0.5rem;
                    border-bottom: 1px solid black;
                    background: #f5f5f5;
                }

                td {
                    padding: 0.5rem;
                }

                tr:hover {
                    background: #f5f5f5;
                }

                tr.emphasize {
                    background: #abf5c1;

                    td {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

// Footer styles
.footer {
    background: #FEFFFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E0DBC7;
    .madeIn{
        display: none;
    }

    .logo {
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;

        a {
            color: black;
            text-decoration: none;

            &:hover {
                text-decoration: underline double;
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .heroText{
        width: 30rem;
    }
}

@media screen and (max-width: 950px) {
    .heroText{
        bottom: 20px !important;
        left: 20px !important;
        width: 20rem;
    }
    .navbar nav{
        padding: 18px 20px;
    }
}

@media screen and (max-width: 620px) {
    .heroText{
        display: none;
    }

    nav{
        a{
            font-size: 2rem;
        }
    }
    
    .container{
        .blog{
            .posts{
                .post_item {
                    .title {
                        font-size: 1.6rem;
                    }

                    .date {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }

    .heroTextMob{
        display: flex !important;
        position: absolute;
        bottom: 15px;
        width: 12rem;
        left: 15px;
    }

    .navbar nav{
        padding: 18px 20px;
    }
}

@media screen and (max-width: 400px) {
    .heroTextMob{
        width: 8rem;
    }

    nav{
        a{
            font-size: 1.4rem;
        }
    }

    .container{
        .blog{
            .posts{
                .post_item {
                    .title {
                        font-size: 1.4rem;
                        font-weight: 400;
                    }

                    .date {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

// Responsive styles
@media screen and (max-width: 850px) {
    .navbar {
        nav {
            .menu{
                display: flex;
                cursor: pointer;
            }
            
            .items {
                display: none;
            }
        }
    }

    .footer {
        padding: 20px;
        flex-direction: column;
        gap: 0.5rem;

        .flower{
            display: none;
        }

        .madeIn{
            font-size: 14px;
            color: #959693;
            font-weight: 400;
            display: block;
        }
    }
}

@media screen and (max-width: 340px) {
    .navbar nav{
        justify-content: end;
    }

    .navbar nav .logo{
        display: none;
    }
}