{% extends "base.html" %}

{% block title %}Are protein supplements bad for you? – The Good Food Project{% endblock %}

{% block seo %}
<!-- Description -->
<meta name="description" content="Short Answer – Protein powders and BCAAs are themselves not bad (if not good) for most people. It's the added sugars and additives that they may contain which are problematic.">
<meta name="keywords" content="protein, protein powder, bcaa, icmr, type 2 diabetes, eaa, bodybuilding, weightlifting">

<!-- Open Graph Tags -->
<meta property="og:title" content="Are protein supplements bad for you? – The Good Food Project">
<meta property="og:description" content="Short Answer – Protein powders and BCAAs are themselves not bad (if not good) for most people. It's the added sugars and additives that they may contain which are problematic.">
<meta property="og:image" content="/static/images/are-protein-supplements-bad-for-you/link-share-thumbnail.webp">

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Are protein supplements bad for you? – The Good Food Project">
<meta name="twitter:description" content="Short Answer – Protein powders and BCAAs are themselves not bad (if not good) for most people. It's the added sugars and additives that they may contain which are problematic.">
<meta name="twitter:image" content="/static/images/are-protein-supplements-bad-for-you/link-share-thumbnail.webp">

{% endblock %}

{% block blog_title %}Are protein supplements bad for you?{% endblock %}
{% block blog_date %}26 June, 2024{% endblock %}

{% block blog %}
<!-- Sources -->
<details>
    <summary>Sources</summary>
    <ol>
        <li><a href="https://main.icmr.nic.in/sites/default/files/upload_documents/DGI_07th_May_2024_fin.pdf#page=55">ICMR's Dietary Guidelines for Indians</a></li>
        <li><a href="https://www.thehindu.com/sci-tech/health/avoid-protein-supplements-says-icmr-in-dietary-guidelines-for-indians/article68158977.ece">The Hindu's news article on ICMR's report.</a></li>
        <li><a href="https://www.trustified.in/">Trustified test reports of products</a></li>
        <li><a href="https://www.webmd.com/vitamins-and-supplements/branched-chain-amino-acids-uses-risks">WebMD's article on BCAAs</a></li>
        <li><a href="https://www.healthline.com/nutrition/bcaa#Safety-and-side-effects">Healthline's Article on effects, goods and bads of BCAAs</a></li>
        <li><a href="https://pubmed.ncbi.nlm.nih.gov/16365096/">Research paper on BCAAs activating key enzymes in protein synthesis after physical exercise</a></li>
        <li><a href="https://bmcpublichealth.biomedcentral.com/articles/10.1186/s12889-023-17210-5">Research paper on the association between dietary amino acid profile and the risk of type 2 diabetes</a></li>
    </ol>
</details>

<!-- Blog Content -->
<div class="blog_content">
    <p>The Indian Council of Medical Research (ICMR) released dietary guidelines in which they mentioned, <i>"protein supplements are not advisable."</i> So, we dug deeper to understand what it's all about.</p>
    <p>Short answer – <em>No, protein supplements themselves aren't bad for you. It's the added sugars and additives that they may contain which are problematic.</em></p>
    <p>Long answer – Here is what ICMR really said <i>"Protein powders may also contain added sugars, non-caloric sweeteners and additives such as artificial flavouring, hence, are not advisable to be consumed on a regular basis."</i> <a href="https://main.icmr.nic.in/sites/default/files/upload_documents/DGI_07th_May_2024_fin.pdf">view report [pdf page 77]</a></p>
    <b>What to do then?</b>
    <p>Simple, buy products that don't have all those things!</p>
    <h2>How to choose a good protein powder?</h2>
    <p>To understand that, we need to first learn what a bad protein powder looks like. Here's an example:</p>
    <img src="/static/images/are-protein-supplements-bad-for-you/bad-protein-powder-label.webp" alt="Let’s read the back of a pack to know what to avoid! Artificial sweeteners, Increased rick of heart attacks, and more artificial sweeteners">
    <p>Now, let's see what will a good protein powder look like</p>
    <img src="/static/images/are-protein-supplements-bad-for-you/good-protein-poweder-label.webp" alt="Whey protein blend, whole milk powder, dates, cocoa, bromelain, monk fruit, sunflower lecithin">
    <p>Buy from a brand that uses natural and well-researched ingredients.</p>
    <p>To make your life a little simpler, here's a list of brands that make good quality protein powder (not an exhaustive list)</p>
    <img src="/static/images/are-protein-supplements-bad-for-you/goodbrands.webp" alt="Avvatar, Muscleblaze, Nakpro, Wellversed, The whole truth, Fuel One, Athlab, Maxener Wellness">
    <h2>Controversies around protein powder</h2>
    <p>Besides what ICMR mentioned about added sugars and other additives, there is one more thing they mentioned: <abbr title="Branched Chain Amino Acids">BCAAs</abbr>. Let's understand what BCAAs are and how they can both positively and negatively impact our bodies.</p>
    <p>Quick answer – <em>Our research didn't find any conclusive evidence that BCAAs are bad for you or cause any non-communicable diseases like Type 2 Diabetes. However, research supports that BCAAs help provide energy to muscles during workouts and aid in muscle growth. Given all the evidence, consuming BCAAs and <abbr title="Essential Amino Acids">EAAs</abbr> should not be a cause of concern for most healthy adults.</em></p>
    <p><i><b>⚠️ Caution:</b> If you are reading further, please read till the very end so that you don't end up with half information, which can potentially be misleading and even dangerous.</i></p>
    <p><i>"Recent evidence suggests that BCAAs may increase the risk of certain non-communicable diseases (NCDs)"</i> said ICMR while discussing protein powders and their impact on our health.</p>
    <p>Besides the <a href="https://bmcpublichealth.biomedcentral.com/articles/10.1186/s12889-023-17210-5">2023 study</a> that we think ICMR was referring to (they haven't mentioned any sources) there are many studies on BCAAs and their impact on performance, muscle growth, and recovery, as well as solid research on how BCAAs and EAAs are used in the body.</p>
    <p>
        Following is our current understanding on BCAAs and EAAs:
        <ol>
            <li>BCAAs are building blocks your body uses to make proteins.</li>
            <li>BCAAs are considered essential because, unlike nonessential amino acids, your body cannot make them. Therefore, it is essential to get them from your diet.</li>
            <li>Your body can use BCAAs to build muscle protein and produce energy.</li>
            <li>BCAAs can reduce fatigue during exercise</li>
            <li>BCAAs can increase muscle mass</li>
            <li>BCAAs can lower blood sugar levels</li>
            <li>BCAAs can enhance weight loss</li>
            <li>BCAAs can reduce complications in liver disease</li>
        </ol>
    </p>
    <p>Because of these effects and the research supporting them, protein powder manufacturers started adding BCAAs to their products. Currently, all major brands add both BCAAs and EAAs to their protein powders to provide better results.</p>
    <p>Given this, it's clear why claiming that BCAAs can cause non-communicable diseases like type 2 diabetes has stirred things up.</p>
    <p>To investigate this, we read and analyzed the research paper. We examined all the data points that the researchers used to draw their conclusions about BCAAs and considered what other results could be inferred from the data. We also consulted biologists and other researchers to get their independent views, ensuring there was no potential for error from The Good Food Project's end.</p>
    <h2>What did we find?</h2>
    <p>In our analysis, we found some critical and absurd things. Let's look at the result table from the research. <a href="https://bmcpublichealth.biomedcentral.com/articles/10.1186/s12889-023-17210-5/tables/2">(see table)</a></p>
    <table>
        <tr>
            <th>Amino Acids</th>
            <th>Case (n=113)<br>Median (IQR) (gr/day)</th>
            <th>Control (n=452)<br>Median (IQR) (gr/day)</th>
            <th>p-value</th>
        </tr>
        <tr class="emphasize">
            <td>Branched-chain</td>
            <td>8.15 (4.74)</td>
            <td>7.78 (5.10)</td>
            <td>0.04</td>
        </tr>
        <tr>
            <td>Aromatic</td>
            <td>4.08 (2.38)</td>
            <td>3.93 (2.54)</td>
            <td>0.04</td>
        </tr>
        <tr>
            <td>Alkaline</td>
            <td>7.16 (4.78)</td>
            <td>6.82 (4.45)</td>
            <td>0.03</td>
        </tr>
        <tr>
            <td>Sulfuric</td>
            <td>1.71 (1.03)</td>
            <td>1.55 (1.00)</td>
            <td>0.02</td>
        </tr>
        <tr>
            <td>Acidic</td>
            <td>13.50 (7.00)</td>
            <td>12.71 (7.78)</td>
            <td>0.04</td>
        </tr>
        <tr>
            <td>Alcoholic</td>
            <td>3.99 (2.34)</td>
            <td>3.78 (2.42)</td>
            <td>0.05</td>
        </tr>
        <tr>
            <td>Small amino acids</td>
            <td>4.18 (2.67)</td>
            <td>3.98 (2.54)</td>
            <td>0.03</td>
        </tr>
        <tr>
            <td>Proline</td>
            <td>2.49 (1.49)</td>
            <td>2.38 (1.51)</td>
            <td>0.09</td>
        </tr>
        <tr class="emphasize">
            <td>Essential</td>
            <td>18.12 (10.98)</td>
            <td>17.00 (11.35)</td>
            <td>0.04</td>
        </tr>
        <tr>
            <td>Non-essential</td>
            <td>27.69 (15.25)</td>
            <td>26.12 (16.49)</td>
            <td>0.04</td>
        </tr>
    </table>

    <p>Before we get into further details, let's describe the terms we'll be seeing (skip this part if you already know).</p>
    <p>
        <b>Case:</b> 113 people got Type 2 Diabetes<br/>
        <b>Control:</b> 452 people did not get Type 2 Diabetes<br/>
        <b>Median:</b> The middle value. It's similar to the average, but extreme values do not impact it.<br/>
        <b><abbr title="Inter Quartile Range">IQR:</abbr></b> Measures the spread of the data, indicating the impact of small increments.<br/>
        <b>p-value:</b> Indicates the likelihood that the result is wrong. A lower value means more confidence. For example, 0.05 means less than a 5% chance of the result being wrong.<br/>
    </p>

    <p>Now that we know what each term means, let's make some observations from the data.</p>
    <p>With less than a 4% likelihood of being wrong, the researchers point out that for an average person, consuming 7.78g of BCAA per day doesn't cause Type 2 Diabetes, but consuming 8.15g per day does. This range is so small that it's hard to believe a mere 0.37g increase can cause Type 2 Diabetes. Moreover, given the IQR (how far spread the data is), we can see that some people who consumed 10g of BCAA per day did not get Type 2 Diabetes, while others who consumed the same amount did. Given the number of case and control subjects, we can estimate that for every person who got Type 2 Diabetes by consuming 10g per day, there were four people who did not. According to the research, consuming more BCAAs increases the chances of Type 2 Diabetes by approximately 20%.</p>
    <p>What we don't know is how those BCAAs were consumed. If a person takes in a lot of simple carbs and sugar in their meals or if they simply eat more, they will end up with more BCAAs than an average person. This doesn't mean that BCAAs cause Diabetes; it means that overeating does.</p>
    <p>To drive the point home, let's take another example. There are two people: X and Y. X is overweight and eats more food, while Y is an active person who maintains a healthy weight. If we now measure their Vitamin A levels, X will have higher levels than Y, but that doesn't mean that Vitamin A causes Diabetes! It's being overweight that does.</p>
    <p>The researchers have generously provided more data they collected. Let's have a look at it. <a href="https://bmcpublichealth.biomedcentral.com/articles/10.1186/s12889-023-17210-5#Sec11">(see research [download Additional File 1])</a></p>

    <table>
        <tr>
            <th>Dietary food groups (gr/day)</th>
            <th>Case (n=113)<br>Median (IQR)</th>
            <th>Control (n=452)<br>Median (IQR)</th>
            <th>p-value</th>
        </tr>
        <tr>
            <td>Whole grains</td>
            <td>24.60 (36.23)</td>
            <td>17.83 (28.75)</td>
            <td>0.005</td>
        </tr>
        <tr>
            <td>Refined grains</td>
            <td>441.64 (223.28)</td>
            <td>438.12 (243.56)</td>
            <td>0.758</td>
        </tr>
        <tr>
            <td>Legumes</td>
            <td>24.54 (30.70)</td>
            <td>23.49 (29.22)</td>
            <td>0.334</td>
        </tr>
        <tr class="emphasize">
            <td>Fresh fruits</td>
            <td>209.22 (209.20)</td>
            <td>177.41 (217.54)</td>
            <td>0.018</td>
        </tr>
        <tr>
            <td>Dried fruits</td>
            <td>17.35 (29.29)</td>
            <td>14.97 (23.87)</td>
            <td>0.055</td>
        </tr>
        <tr>
            <td>Fruit juices</td>
            <td>0 (3.78)</td>
            <td>0 (3.12)</td>
            <td>0.909</td>
        </tr>
        <tr class="emphasize">
            <td>Nuts</td>
            <td>6.69 (10.62)</td>
            <td>4.36 (8.62)</td>
            <td>0.002</td>
        </tr>
        <tr>
            <td>Red meats</td>
            <td>9.86 (21.69)</td>
            <td>9.86 (21.69)</td>
            <td>0.968</td>
        </tr>
        <tr>
            <td>Processed meats</td>
            <td>0 (1.27)</td>
            <td>0 (0.65)</td>
            <td>0.146</td>
        </tr>
        <tr>
            <td>Organ meats</td>
            <td>1.78 (3.61)</td>
            <td>1.80 (3.28)</td>
            <td>0.881</td>
        </tr>
        <tr>
            <td>Chicken meats</td>
            <td>0.98 (4.27)</td>
            <td>0 (3.45)</td>
            <td>0.034</td>
        </tr>
        <tr>
            <td>Poultry</td>
            <td>34.19 (47.01)</td>
            <td>25.64 (34.19)</td>
            <td>0.084</td>
        </tr>
        <tr>
            <td>Fish</td>
            <td>2.46 (8)</td>
            <td>2.08 (5.75)</td>
            <td>0.349</td>
        </tr>
        <tr>
            <td>Eggs</td>
            <td>11.83 (21.69)</td>
            <td>13.31 (21.69)</td>
            <td>0.454</td>
        </tr>
        <tr>
            <td>Saturated fats</td>
            <td>17.35 (37.19)</td>
            <td>19.25 (25.61)</td>
            <td>0.426</td>
        </tr>
        <tr>
            <td>Unsaturated fats</td>
            <td>4.27 (11.59)</td>
            <td>2.48 (10.26)</td>
            <td>0.113</td>
        </tr>
        <tr class="emphasize">
            <td>Leafy vegetables</td>
            <td>26.91 (29.15)</td>
            <td>21.19 (24.38)</td>
            <td>0.014</td>
        </tr>
        <tr>
            <td>Other vegetables</td>
            <td>433.04 (323.13)</td>
            <td>365.67 (298.14)</td>
            <td>0.029</td>
        </tr>
        <tr>
            <td>Dairy products</td>
            <td>308.05 (397.58)</td>
            <td>314.55 (422.10)</td>
            <td>0.968</td>
        </tr>
        <tr>
            <td>Drinks</td>
            <td>697.56 (485.43)</td>
            <td>690 (537.47)</td>
            <td>0.411</td>
        </tr>
        <tr>
            <td>Salts</td>
            <td>3 (3)</td>
            <td>3 (3)</td>
            <td>0.390</td>
        </tr>
        <tr>
            <td>Condiments</td>
            <td>20.72 (26.14)</td>
            <td>17.18 (21.43)</td>
            <td>0.007</td>
        </tr>
        <tr class="emphasize">
            <td>Sweets</td>
            <td>27.36 (37.52)</td>
            <td>36.84 (34.59)</td>
            <td>0.004</td>
        </tr>
        <tr>
            <td>Desserts</td>
            <td>12.82 (16.75)</td>
            <td>10.24 (15.30)</td>
            <td>0.849</td>
        </tr>
    </table>

    <p>The table shows that eating more fresh fruits, more nuts, more leafy vegetables, and surprisingly, eating fewer sweets, result in Type 2 Diabetes. Not just that, look at their p-values: less than 0.4% chance that the result is wrong about eating fewer sweets causing Type 2 Diabetes.</p>
    <p>Besides the sweet anomaly (which we can't wrap our heads around), the likely cause of people getting Type 2 Diabetes was not the food itself but people eating too much and becoming overweight. For sweets, it's possible that these people are overly restrictive in their diets and don't eat a balanced diet. Since they don't reach satiety, they end up eating more. And as we know, even an excess of good things is also bad. We'd like to mention that this paragraph is just our interpretation and a hypothesis about the data due to a lack of evidence and extensive data.</p>
    <h2>Conclusion</h2>
    <p>Eat a well-balanced diet. If eating two chocolates a week helps you enjoy the healthier food you eat the rest of the week more, it's a better tradeoff and will keep you in shape longer than overly restrictive diets. BCAAs and EAAs seem to be of no concern for most healthy adults as long as you don't overdo it. We suggest keeping protein powder intake below two scoops per day and choosing a good brand that uses natural and well-researched ingredients.</p>
    <p><b>Stay healthful! See you on another Good Food blog.</b></p>
</div>

<!-- Blog Info for search engines -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "headline": "Are protein supplements bad for you? – The Good Food Project",
      "image": "/static/images/are-protein-supplements-bad-for-you/link-share-thumbnail.webp",
      "author": "Shubham Gupta",
      "publisher": {
        "@type": "Organization",
        "name": "The Good Food Project",
        "logo": {
          "@type": "ImageObject",
          "url": "/logo.png"
        }
      },
      "datePublished": "2024-06-26"
    }
</script>    
{% endblock %}
