{% extends "base.html" %}
{% block title %}Does wheat deserve being ditched? – The Good Food Project{% endblock %}

{% block seo %}
<!-- Description -->
<meta name="description" content="Is wheat really as bad as some say? Discover why wheat might not deserve to be ditched and explore nutritious alternatives like millets and quinoa that can boost your health. Perfect for those curious about gluten, low glycemic index foods, and protein-rich diets.">
<meta name="keywords" content="does, wheat, deserve, being, ditched?">

<!-- Open Graph Tags -->
<meta property="og:title" content="Does wheat deserve being ditched? – The Good Food Project">
<meta property="og:description" content="Is wheat really as bad as some say? Discover why wheat might not deserve to be ditched and explore nutritious alternatives like millets and quinoa that can boost your health. Perfect for those curious about gluten, low glycemic index foods, and protein-rich diets.">
<meta property="og:image" content="/static/images/does-wheat-deserve-being-ditched/link-share-thumbnail.jpg">

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Does wheat deserve being ditched? – The Good Food Project">
<meta name="twitter:description" content="Is wheat really as bad as some say? Discover why wheat might not deserve to be ditched and explore nutritious alternatives like millets and quinoa that can boost your health. Perfect for those curious about gluten, low glycemic index foods, and protein-rich diets.">
<meta name="twitter:image" content="/static/images/does-wheat-deserve-being-ditched/link-share-thumbnail.jpg">
{% endblock %}

{% block blog_title %}Does wheat deserve to be ditched?{% endblock %}
{% block blog_date %}15 August, 2024{% endblock %}

{% block blog %}
<!-- Sources -->
<details>
    <summary>Sources</summary>
    <ol>
        <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4760426/">Research paper on do we need to worry about eating wheat?</a></li>
        <li><a href="https://www.sfadvancedhealth.com/blog/top-reasons-to-watch-your-wheat-consumption">Advance health blog on wheat consumption</a></li>
        <li><a href="https://nation.africa/kenya/health/dangers-of-excessive-wheat-consumption-3876168">Dangers of wheat consumption</a></li>
        <li><a href="https://www.sciencestrength.com/nutrition-blog/2022/1/8/is-wheat-a-bad-protein-source-for-building-muscle">Gluten as a muscle building source</a></li>
        <li><a href="https://www.hopkinsmedicine.org/health/wellness-and-prevention/what-is-gluten-and-what-does-it-do">Hopkins Medicine on gluten</a></li>
    </ol>
</details>

<!-- Blog Content -->
<div class="blog_content">
    <h3>Short Answer:</h3>
    <p><em>
      No. Wheat is good, but we have other really good options like millets (Jowar, Ragi, etc.) and quinoa. Wheat is a problem only if a person is gluten-allergic or wheat intolerant, which, if you're wondering whether you are, you likely are not.
    </em></p>
    <p>Wheat contains a protein called “gluten” (~8g per 100g of wheat). It is what gives wheat products their chewy and rubbery texture. Most people can digest gluten just fine, but some (0.5 to 1%) can't. These people are allergic to gluten, with symptoms like uneasiness due to bloating and gas.</p>
    <p>Wheat is a great food to have. It has a moderately low glycemic index (54), contains protein, and is widely available. The only drawback is that it doesn't have a complete amino acid profile, which is important for a well-rounded meal and proper absorption of nutrients from your food. This is generally not a problem since wheat is mostly eaten along with other ingredients that complete the meal's amino acid profile.</p>
    <h3>Great Alternatives</h3>
    <p>This is where grains like millets (Jowar, Ragi, etc.) and quinoa shine. In addition to having a similarly low glycemic index to that of wheat and an even higher protein content, they also have a more complete amino acid profile. Another good thing is that they are gluten-free.</p>
    <p>Regardless of whether or not you have a problem with gluten, you should try these other grains and see if you like them.</p>
    <h3>Conclusion</h3>
    <p>A little while ago, I found out that almond milk is really good for you, so I ordered it. That morning, I excitedly sat down to have it along with breakfast. I took a sip and nearly vomited. It made me feel sick, so I never had it again.</p>
    <p>Your body is a survival machine. Listen to your body. If eating something makes you feel sick, don't have it. Don't consume wheat if it makes you sick; don't reject it because it's cool to do so.</p>
    <p>Keep trying until you find what's best for you!</p>

    <p><b>Stay healthful! See you on another Good Food blog.</b></p>
</div>

<!-- Blog Info for search engines -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "headline": "Does wheat deserve being ditched? – The Good Food Project",
      "image": "/static/images/does-wheat-deserve-being-ditched/link-share-thumbnail.jpg",
      "author": "Kartik Thombare",
      "publisher": {
        "@type": "Organization",
        "name": "The Good Food Project",
        "logo": {
          "@type": "ImageObject",
          "url": "/logo.png"
        }
      },
      "datePublished": "2024-08-15"
    }
</script>    
{% endblock %}
