{% extends "base.html" %}

{% block title %}The Good Food Project{% endblock %}

{% block seo %}
<meta name="description" content="Welcome to The Good Food Project! We are dedicated to providing us health geeks with the highest quality content and extensive research behind each blog that we publish.">
<meta name="keywords" content="home, blog, healthy food, health, lifestyle, healthy">
{% endblock %}

{% block blog_title %}The good food blogs{% endblock %}

{% block hide_date %}{% endblock %}

{% block blog %}
    <div class="posts">
        {% for post in posts %}
            <div class="post_item">
                <a class="title" href="{{ post.url }}">{{ post.title }}</a>
                <p class="date">{{ post.date }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
