{% extends "base.html" %}

{% block title %}The Good Food Project{% endblock %}

{% block seo %}
<meta name="description" content="Welcome to The Good Food Project! We are dedicated to providing us health geeks with the highest quality content and extensive research behind each blog that we publish.">
<meta name="keywords" content="home, blog, healthy food, health, lifestyle, healthy">
{% endblock %}

{% block hide_date %}{% endblock %}

{% block blog %}
    <div class="posts">
        <details style="margin-bottom: 2rem;">
            <summary>Preamble</summary>
            <ol>
                <li>Health is a broad term and what definition of health you assume changes a lot of your decisions. Here's good food's definition of health: A healthy person has a long life with as few visits to the hospital as possible.</li>
                <li>Every good food blog is practical first, and descriptive second.</li>
                <li>You can reach out to us anytime. Especially if you have a question that wasn't answered in the blog you read.</li>
            </ol>
        </details>

        {% for post in posts %}
            <div class="post_item">
                <a class="title" href="{{ post.url }}">{{ post.title }}</a>
                <p class="date">{{ post.date }}</p>
            </div>
            <div class="divider"></div>
        {% endfor %}
    </div>
{% endblock %}
